# Supabase Core Configuration
SUPABASE_URL=https:"//orwbyoedkmfgklptvcpd.supabase.co"
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yd2J5b2Vka21mZ2tscHR2Y3BkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxMjAxOTMsImV4cCI6MjEwMjY5NjE5M30.CQbeJ4id77C5jzbWi2ZXsSqY-XL00Gya7qnTY2DgpVg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yd2J5b2Vka21mZ2tscHR2Y3BkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzEyMDE5MywiZXhwIjoyMTAyNjk2MTkzfQ.kYoZztOZzc1-VtRHRdt1wRAINxDStqI9Y_-bb7SlJp0

# Database Connection (PostgreSQL / SQLAlchemy)
DATABASE_URL=postgresql://postgres:Osamakhan12%403@db.orwbyoedkmfgklptvcpd.supabase.co:5432/postgres

# Authentication & Storage Settings
SUPABASE_JWKS_URL=https://orwbyoedkmfgklptvcpd.supabase.co/auth/v1/.well-known/jwks.json
SUPABASE_BUCKET_NAME=media
MEDIA_MAX_BYTES=52428800
MEDIA_SIGNED_URL_TTL=300
ASSEMBLYAI_API_KEY=090003343933493985d7adf750a68816